<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="assets/css/style.min.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta
      http-equiv="X-UA-compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="robots"
      content="index, follow, noodp"
    />
    <meta
      name="googlebot"
      content="index, follow"
    />
    <meta
      name="google"
      content="notranslate"
    />
    <meta
      name="format-detection"
      content="telephone=yes"
    />

    <title>{{ title }}</title>
  </head>

  <body>
    {{> body }}
  </body>
</html>
