/* 
============================
About Section Styles
============================
*/

#about {
  width: 100%;

  .container {
    padding-top: 110px;
    padding-bottom: 170px;

    @media screen and (width < $BP1600) {
      & {
        padding-top: 60px;
        padding-bottom: 30px;
      }
    }
    @media screen and (width < $BP1200) {
      & {
        padding-top: 70px;
      }
    }
    @media screen and (width < $BP992) {
      & {
        padding-top: 30px;
        padding-bottom: 40px;
      }
    }
    @media screen and (width < $BP768) {
      & {
        padding-bottom: 80px;
      }
    }

    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
      height: 250px;

      @media screen and (width < $BP1200) {
        & {
          gap: 20px;
        }
      }

      @media screen and (width < $BP992) {
        & {
          flex-direction: column;
          gap: 30px;
          height: auto;
        }
      }

      h1 {
        max-width: 980px;

        @media screen and (width < $BP992) {
          & {
            align-self: flex-start;
            width: 70%;
          }
        }

        @media screen and (width < $BP768) {
          & {
            width: 80%;
          }
        }

        @media screen and (width < $BP576) {
          & {
            width: 100%;
          }
        }
      }

      img {
        height: 250px;
        width: 620px;
        border-radius: 50px;
        object-fit: cover;

        @media screen and (width < $BP768) {
          & {
            height: 135px;
            width: 335px;
            border-radius: 30px;
          }
        }
      }
    }

    .percs {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      margin-top: 100px;
      padding: 0 50px;

      @media screen and (width < $BP1600) {
        & {
          margin-top: 40px;
        }
      }

      @media screen and (width < $BP1200) {
        & {
          gap: 20px;
          margin-top: 50px;
          padding: 0;
        }
      }

      @media screen and (width < $BP992) {
        & {
          margin-top: 25px;
          padding: 0 50px;
          flex-wrap: wrap;
          row-gap: 30px;
          column-gap: 100px;
        }
      }

      @media screen and (width < $BP768) {
        & {
          margin-top: 30px;
          column-gap: 60px;
        }
      }

      @media screen and (width < $BP576) {
        & {
          padding: 0;
          column-gap: 10%;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 240px;
        height: 170px;

        @media screen and (width < $BP1200) {
          & {
            width: 200px;
          }
        }

        @media screen and (width < $BP768) {
          & {
            width: 150px;
            height: 85px;
            justify-content: start;
          }
        }

        img {
          height: 40px;
          width: 40px;

          @media screen and (width < $BP768) {
            & {
              height: 20px;
              width: 20px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .bait {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;

      @media screen and (width < $BP1600) {
        & {
          margin-top: 90px;
        }
      }

      @media screen and (width < $BP1200) {
        & {
          margin-top: 70px;
        }
      }

      @media screen and (width < $BP992) {
        & {
          margin-top: 50px;
        }
      }

      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 1000px;
        padding: 35px 25px 35px 35px;
        border-radius: 50px;
        background: radial-gradient(
          circle at right,
          $GradientCol1,
          $GradientCol2
        );

        @media screen and (width < $BP1600) {
          & {
            width: 100%;
            margin: 0 50px;
          }
        }

        @media screen and (width < $BP992) {
          & {
            margin: 0;
          }
        }

        @media screen and (width < $BP768) {
          & {
            height: 124px;
            border-radius: 30px;
            flex-direction: column;
            gap: 10px;
            padding: 20px 0;
          }
        }

        h2 {
          color: $ActiveDarkCol;
          text-transform: uppercase;
          letter-spacing: 0.04em;

          @media screen and (width < $BP992) {
            & {
              font-size: 14px;
            }
          }
        }

        .actions {
          display: flex;
          gap: 20px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: $ButtonCol;
            height: 50px;
            min-width: 50px;
            border-radius: 25px;

            &:hover,
            &:focus {
              background-color: $ActiveButtonCol;
            }

            &.phone__link {
              padding: 0 20px;

              @media screen and (width < $BP768) {
                & {
                  padding: 0;
                }
              }
            }

            p {
              color: $LightCol;
              font-size: 12px;
              font-weight: 400;

              @media screen and (width < $BP768) {
                & {
                  display: none;
                }
              }
            }

            img {
              max-width: 33%;
              height: 33%;
            }
          }
        }
      }
    }
  }
}
