#production {
  width: 100%;

  .container {
    @media screen and (min-width: $BP992) {
      & {
        display: grid;
        grid-template-columns: 650px 1fr;
        grid-auto-rows: 65px;
        padding: 210px 200px 220px;
      }
    }

    @media screen and (min-width: $BP992) and (max-width: $BP1600) {
      & {
        padding: 70px 50px 80px;
      }
    }
    @media screen and (min-width: $BP992) and (max-width: $BP1200) {
      & {
        grid-template-columns: 500px 1fr;
        grid-auto-rows: 50px;
        padding: 215px 50px 80px;
      }
    }
    @media screen and (max-width: $BP992) {
      & {
        padding: 50px 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    @media screen and (max-width: $BP768) {
      & {
        padding: 55px 50px 95px;
      }
    }
    @media screen and (max-width: $BP576) {
      & {
        padding: 100px 20px 170px;
      }
    }

    .video {
      height: 100%;
      width: 100%;
      border-radius: 50px;
      overflow: hidden;
      transform: translateZ(0);

      @media screen and (min-width: $BP992) {
        & {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 11;
        }
      }
      @media screen and (max-width: $BP768) {
        & {
          border-radius: 30px;
        }
      }
    }

    .heading {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $BP992) {
        & {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 5;
          margin-top: 20px;
          margin-left: 50px;
        }
      }
      @media screen and (min-width: $BP992) and (max-width: $BP1200) {
        & {
          grid-row-start: 1;
          grid-row-end: 3;
          margin-top: 30px;
        }
      }
      @media screen and (max-width: $BP992) {
        & {
          margin-bottom: 20px;
        }
      }

      img {
        height: 57px;
        width: 269px;
        margin-top: 10px;

        @media screen and (max-width: $BP768) {
          & {
            height: 30px;
            width: 140px;
          }
        }
      }
    }

    .description {
      @media screen and (min-width: $BP992) {
        & {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 11;
          margin-left: 50px;
          margin-top: 50px;
        }
      }
      @media screen and (min-width: $BP992) and (max-width: $BP1200) {
        & {
          grid-row-start: 4;
          grid-row-end: 11;
          margin-top: 40px;
        }
      }

      p {
        line-height: 133.5%;
        margin-bottom: 1em;
      }
    }
  }
}
