// Breackpoints
$BP1600: 1599.98 + px;
$BP1200: 1199.98 + px;
$BP992: 991.98 + px;
$BP768: 767.98 + px;
$BP576: 575.98 + px;

// Colors
$LightCol: #f5f3ef;
$DarkCol: #46403c;
$ActiveDarkCol: #725c4d;
$ButtonCol: #af9b8e;
$ActiveButtonCol: #d1bdae;
$GradientCol1: #ede3dc;
$GradientCol2: #e3e3e3;
