<section
  id="about"
  class="nav_block"
>
  <div class="container">
    <div class="heading">
      <h1>
        ЛЭШЦЕХ&nbsp;– российское производство ресниц для&nbsp;вашего бренда
      </h1>
      <img
        src="./assets/media/img/about-11.png"
        alt="pretty eyelashes"
      />
    </div>

    <div class="percs">
      <div class="item">
        <img
          src="./assets/media/img/about-21.svg"
          alt="theme icon"
        />
        <p>Доступные цены, независящие от курса валют</p>
      </div>
      <div class="item">
        <img
          src="./assets/media/img/about-22.svg"
          alt="theme icon"
        />
        <p>Премиум материалы – высококачественное моноволокно</p>
      </div>
      <div class="item">
        <img
          src="./assets/media/img/about-23.svg"
          alt="theme icon"
        />
        <p>Современный продукт для мастеров индустрии красоты</p>
      </div>
      <div class="item">
        <img
          src="./assets/media/img/about-24.svg"
          alt="theme icon"
        />
        <p>Запатентованная технология производства ресниц</p>
      </div>
    </div>

    <div class="bait">
      <div class="wrapper">
        <h2>Получить образцы</h2>
        <div class="actions">
          <a
            href="tel:{{ data.phone}}"
            class="phone__link"
          >
            <img
              src="./assets/media/icons/phone-icon.svg"
              alt="phone icon"
            />
            <p>{{ data.decorated-phone}}</p>
          </a>
          <a
            href="mailto:{{ data.mail}}?subject={{ data.mail-subject}}&body={{ data.mail-body}}"
          >
            <img
              src="./assets/media/icons/mail-icon.svg"
              alt="mail icon"
            />
          </a>

          <a
            href="https://wa.me/{{ data.phone}}"
            target="_blank"
          >
            <img
              src="./assets/media/icons/watsapp-icon.svg"
              alt="whatsapp icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
