<section
  id="advantages"
  class="nav_block"
>
  <div class="container">
    <div class="item logo">
      <h1>Только</h1>
      <img
        src="./assets/media/img/logo.svg"
        alt="logo"
      />
    </div>

    <div class="item image">
      <img
        src="./assets/media/img/advantages-11.png"
        alt="theme image"
      />
    </div>

    <div class="item advantage stability">
      <div class="heading">
        <img
          src="./assets/media/img/advantages-21.svg"
          alt="theme icon"
        />
        <p>Стабильность</p>
      </div>
      <ul class="custom__list">
        <li>Российское производство с ценами, как в Китае</li>
        <li>Устойчивый прайс</li>
        <li>Собственные крупные закупки сырья</li>
      </ul>
    </div>

    <div class="item advantage speed">
      <div class="heading">
        <img
          src="./assets/media/img/advantages-22.svg"
          alt="theme icon"
        />
        <p>Скорость</p>
      </div>
      <ul class="custom__list">
        <li>Срок изготовления заказа от одной недели</li>
        <li>Доставка в течение нескольких дней</li>
      </ul>
    </div>

    <div class="item advantage safety">
      <div class="heading">
        <img
          src="./assets/media/img/advantages-23.svg"
          alt="theme icon"
        />
        <p>Безопасность</p>
      </div>
      <ul class="custom__list">
        <li>Наша продукция сертифицирована</li>
        <li>Работаем по официальному договору</li>
        <li>Предоставляем все закрывающие документы</li>
      </ul>
    </div>

    <div class="item advantage uniqueness">
      <div class="heading">
        <img
          src="./assets/media/img/advantages-24.svg"
          alt="theme icon"
        />
        <p>Уникальность</p>
      </div>
      <ul class="custom__list">
        <li>Набивка ленты выше, чем у аналогов</li>
        <li>Гипоаллергенное корейское волокно нового поколения</li>
        <li>Производим все виды изгибов и толщин</li>
        <li>Любое цветовое решение</li>
      </ul>
    </div>

    <div class="item params">
      <p><span>Линии:</span> 6; 8; 12; 14; 16; 20</p>
      <p><span>Толщины:</span> 0,05; 0,06; 0,07; 0,10; 0,12; 0,15</p>
      <p><span>Изгибы:</span> I; B; C; C+; CC; D; D+; L; L+; M; W</p>
    </div>
  </div>
</section>
