<section
  id="cooperation"
  class="nav_block"
>
  <div class="container">
    <div class="section__heading">
      <h1>Будь с</h1>
      <img
        src="./assets/media/img/logo.svg"
        alt="logo"
      />
    </div>
    <div class="wrapper">
      <div class="item contract">
        <div class="heading">
          <h2>контрактное производство</h2>
          <img
            src="./assets/media/img/cooperation-contract.svg"
            alt="contract icon"
          />
        </div>
        <div class="description">
          <p>
            Мы рады сотрудничать с каждым, кто хочет создать свой бренд ресниц.
          </p>
          <p>Завод ресниц предоставляет:</p>
          <ul class="custom__list">
            <li>конкурентный продукт</li>
            <li>быструю доставку товара</li>
            <li>сертифицируемую и декларируемую продукцию</li>
            <li>курирование на пути создания бренда</li>
            <li>помощь выхода на маркетплейсы</li>
          </ul>
        </div>
      </div>

      <div class="item franchise">
        <div class="heading">
          <h2>франшиза</h2>
          <img
            src="./assets/media/img/cooperation-franchise.svg"
            alt="franchise icon"
          />
        </div>
        <div class="description">
          <p>
            Если вы хотите открыть наше производство в своём городе, мы
            предлагаем выгодные условия для развития франшизы:
          </p>
          <ul class="custom__list">
            <li>полное документальное сопровождение</li>
            <li>разработку фирменного стиля вашего цеха</li>
            <li>обучение всем этапам уникального производства</li>
            <li>маркетинговая поддержка</li>
            <li>доступ к клиентской базе</li>
            <li>сырье по закупочным ценам</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
