<footer>
  <div class="bait">
    <h2>получить прайс и&nbsp;образцы</h2>
    <div class="actions">
      <a href="tel:{{ data.phone}}">
        <img
          src="./assets/media/icons/phone-icon.svg"
          alt="phone icon"
        />
      </a>
      <a
        href="mailto:{{ data.mail}}?subject={{ data.mail-subject}}&body={{ data.mail-body}}"
      >
        <img
          src="./assets/media/icons/mail-icon.svg"
          alt="mail icon"
        />
      </a>

      <a
        href="https://wa.me/{{ data.phone}}"
        target="_blank"
      >
        <img
          src="./assets/media/icons/watsapp-icon.svg"
          alt="whatsapp icon"
        />
      </a>
    </div>
  </div>

  <div class="logo">
    <img
      src="./assets/media/img/logo.svg"
      alt="logo"
    />
  </div>

  <div class="social">
    <a
      href="{{ data.vk-link}}"
      target="_blank"
    >
      <img
        src="./assets/media/icons/vk-icon.svg"
        alt="vk icon"
      />
    </a>
    <a
      href="{{ data.inst-link}}"
      target="_blank"
    >
      <img
        src="./assets/media/icons/inst-icon.svg"
        alt="inst icon"
      />
    </a>
    <a
      href="{{ data.youtube-link}}"
      target="_blank"
    >
      <img
        src="./assets/media/icons/youtube-icon.svg"
        alt="youtube icon"
      />
    </a>
    <a
      href="{{ data.tg-link}}"
      target="_blank"
    >
      <img
        src="./assets/media/icons/tg-icon.svg"
        alt="telegram icon"
      />
    </a>
  </div>

  <div class="offer">
    <a href="{{ data.offer-link}}">публичная оферта</a>
  </div>
</footer>
