<section
  id="production"
  class="nav_block"
>
  <div class="container">
    <div class="heading">
      <h1>Производство</h1>
      <img
        src="./assets/media/img/logo.svg"
        alt="logo"
      />
    </div>
    <div class="video">
      <video
        loop
        muted
        autoplay
        playsinline
        preload="metadata"
        pip="false"
        onloadedmetadata="this.muted = true"
        width="100%"
        height="100%"
      >
        <source
          src="./assets/media/video/production.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="description">
      <p>
        Все этапы производства ресниц проходят строгий контроль, что позволяет
        выпускать продукт высочайшего класса. Производство ресниц&nbsp;-
        полностью ручной труд.
      </p>

      <p>
        Сочетание сырья нового поколения и ручной работы превращает наши ресницы
        в настоящее произведение!
      </p>
    </div>
  </div>
</section>
